---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout>
  <section class="listing">
    <h1>Blog</h1>
    <ol reversed>
      {
        posts.map((post) => (
          <li>
            <FormattedDate date={post.data.date} />
            <div>
              <a href={`/blog/${post.id}/`}>{post.data.title}</a>
            </div>
          </li>
        ))
      }
    </ol>
  </section>
</BaseLayout>

<style>
  ol {
    padding-inline-start: 0;
  }
  ol li {
    display: grid;
    grid-template-columns: 8rem 1fr;
    margin-bottom: 0.1rem;
  }

  .listing {
    width: 60ch;
    flex: 0 1 60ch;
  }

  @media (min-width: 768px) {
    .listing {
      margin: 0 0 0 13.25rem;
    }
  }
</style>
