.settings {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  position: absolute;
  top: 36px;
  right: 1rem;
}

@media (min-width: 992px) {
  .settings {
    position: relative;
    top: inherit;
    right: inherit;
    width: auto;
    flex: 1 1 auto;
  }
}

.bio {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 26px;
  align-items: center;
}

@media (min-width: 480px) {
  .bio {
    grid-template-columns: 200px 1fr;
  }
}

@media (min-width: 992px) {
  .bio {
    grid-template-columns: 1fr;
  }
}

.biogrid {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 8px;
}

.biogrid__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.biogrid__content {
  display: flex;
  align-items: center;
  margin: 0;
}

/* Status */
.teams-status {
  aspect-ratio: 1 / 1;
  border-radius: 100px;
  width: 24px;
  display: inline-block;
  position: relative;
  transform: scale(0.75);
}

@media (min-width: 576px) {
  .teams-status {
    transform: scale(1);
  }
}

/* Available */
.teams-status[data-status="online"] {
  background-color: #3db838;
}

.teams-status[data-status="online"]::before {
  content: '';
  width: 8px;
  height: 4px;
  border-bottom: 3px solid var(--bg);
  border-left: 3px solid var(--bg);
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Offline */
.teams-status[data-status="offline"] {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px grey;
}

.teams-status[data-status="offline"]::before,
.teams-status[data-status="offline"]::after {
  content: '';
  width: 8px;
  height: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: grey;
}

.teams-status[data-status="offline"]::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.teams-status[data-status="offline"]::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

/* Busy */
.teams-status[data-status="busy"] {
  background-color: #cc0033;
}

/* Do Not Disturb */
.teams-status[data-status="donotdisturb"] {
  background-color: #cc0033;
}

.teams-status[data-status="donotdisturb"]::before {
  content: '';
  width: 10px;
  height: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: var(--bg);
  transform: translate(-50%, -50%);
}

/* Away */
.teams-status[data-status="away"] {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px Plum;
}

.teams-status[data-status="away"]::before,
.teams-status[data-status="away"]::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
}

.teams-status[data-status="away"]::before {
  width: 8px;
  height: 8px;
  border-left: 2px solid Plum;
  border-top: 2px solid Plum;
  transform: translate(-50%, -50%) rotate(-45deg);
  box-sizing: border-box;
}

.teams-status[data-status="away"]::after {
  width: 10px;
  height: 2px;
  border-radius: 2px 0 0 2px;
  background-color: Plum;
  transform: translate(-50%, -50%);
}