---
import NavLink from "./NavLink.astro";
import Logo from "./Logo.astro";
---

<header class="grid grid--header">
  <Logo />
  <nav aria-label="Top level" class="page__nav page__nav--top">
    <ul>
      <NavLink href="/about" emoji="ðŸŒ·">About</NavLink>
      <NavLink href="/blog" emoji="ðŸ“">Blog</NavLink>
      <NavLink href="/links" emoji="ðŸ”—">Links</NavLink>
      <NavLink href="/bookmarks" emoji="ðŸ”—">Bookmarks</NavLink>
      <NavLink href="/experiments" emoji="ðŸ§ª">Experiments</NavLink>
      <NavLink href="/curios" emoji="ðŸª">Curios</NavLink>
      <NavLink href="/guestbook" emoji="ðŸ‘‹">Guestbook</NavLink>
    </ul>
  </nav>
</header>

<style>
  header {
    padding: 1.5rem 0 0 0;
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
  }

  @media (min-width: 768px) {
    header {
      padding: 3rem 0 0 0;
      gap: 1.25rem;
    }
  }
</style>
