---
import NavLink from "./NavLink.astro";
import Logo from "./Logo.astro";
import { SITE_TITLE } from "../consts";
---

<header class="grid grid--header">
  <a href="/" class="logo">
    <span class="visually-hidden">{SITE_TITLE}</span>
    <Logo />
  </a>
  <nav aria-label="Top level" class="page__nav page__nav--top">
    <ul>
      <NavLink href="/about" emoji="ðŸŒ·">About</NavLink>
      <NavLink href="/blog" emoji="ðŸ“">Blog</NavLink>
      <NavLink href="/links" emoji="ðŸ”—">Links</NavLink>
      <NavLink href="/bookmarks" emoji="ðŸ”—">Bookmarks</NavLink>
      <NavLink href="/experiments" emoji="ðŸ§ª">Experiments</NavLink>
      <NavLink href="/curios" emoji="ðŸª">Curios</NavLink>
      <NavLink href="/guestbook" emoji="ðŸ‘‹">Guestbook</NavLink>
    </ul>
  </nav>
  <!-- <div class="settings noscriptHide">
    <button id="colorSchemeButton" class="toggle toggle--colorscheme" aria-pressed="true"> Toggle dark theme </button>
  </div> -->
</header>
<style>
  header {
    padding: 1.5rem 0 0 0;
    display: flex;
  }

  @media (min-width: 768px) {
    header {
      padding: 3rem 0 0 0;
    }
  }
</style>
