---
import Link from "./Link.astro";

const { href, class: className, emoji, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<li>
    <span class="emoji" aria-hidden="true">{emoji}</span>
  <Link href={href} class:list={[className]} {...props}>
    <slot />
  </Link>
</li>

<style>
  a {
    padding-left: 0.25rem;
  }
</style>