---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await render(post);
---

<BlogPost {...post.data}>
  <div class="grid grid__2">
	<article>
    <Content />
	</article>
  </div>

  <style>
    article {
      grid-area: main;
    }
    .date {
      font-size: 80%;
      opacity: 0.7;
      margin-top: 0.25rem;
    }
  </style>
</BlogPost>
