<footer class="end">
  <figure>
    <pre role="img" aria-label="A colourful bed of flowers in ASCII characters" class="ascii-flowerbed"><span class="c-yellow">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _<span class="ascii-butterfly" /></span>
<span class="c-white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="c-yellow">_(_)_</span><span class="c-white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</span><span class="c-magenta">wWWWw</span><span class="c-white">&nbsp;&nbsp; </span><span class="c-red">_</span>
<span class="c-white">&nbsp;&nbsp;&nbsp; </span><span class="c-red">@@@@</span><span class="c-white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="c-yellow">(_)</span><span class="c-orange">@</span><span class="c-yellow">(_)</span><span class="c-white">&nbsp; </span><span class="c-blue">vVVVv</span><span class="c-white">&nbsp;&nbsp;&nbsp; </span><span class="c-light-yellow">_</span><span class="c-white">&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="c-light-pink">@@@@</span><span class="c-white">&nbsp; </span><span class="c-magenta">(___)</span><span class="c-white"> </span><span class="c-red">_(_)_
</span><span class="c-white">&nbsp;&nbsp; </span><span class="c-red">@@</span><span class="c-orange">()</span><span class="c-red">@@</span><span class="c-white">&nbsp;</span><span class="c-magenta">wWWWw</span><span class="c-white">&nbsp; </span><span class="c-yellow">(_)</span><span class="c-green">\</span><span class="c-white">&nbsp;&nbsp; </span><span class="c-blue">(___)</span><span class="c-white">&nbsp;</span><span class="c-light-yellow">&nbsp;_(_)_</span><span class="c-white">&nbsp; </span><span class="c-light-pink">@@</span><span class="c-orange">()</span><span class="c-light-pink">@@</span><span class="c-white">&nbsp;&nbsp; </span><span class="c-green">Y</span><span class="c-white">&nbsp; </span><span class="c-red">(_)</span><span class="c-yellow">@</span><span class="c-red">(_)
</span><span class="c-white">&nbsp;&nbsp;&nbsp; </span><span class="c-red">@@@@</span><span class="c-white">&nbsp; </span><span class="c-magenta">(___)</span><span class="c-white">&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="c-green">`|/&nbsp;&nbsp; Y</span><span class="c-white">&nbsp;&nbsp; </span><span class="c-light-yellow">(_)</span><span class="c-red">@</span><span class="c-light-yellow">(_)</span><span class="c-white">&nbsp; </span><span class="c-light-pink">@@@@</span><span class="c-white">&nbsp;&nbsp; </span><span class="c-green">\|/</span><span class="c-white">&nbsp;&nbsp; </span><span class="c-red">(_)</span><span class="c-green">\</span>
<span class="c-white">&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="c-green">/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Y&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; \|&nbsp;&nbsp; \|/&nbsp;&nbsp; /</span><span class="c-light-yellow">(_)</span><span class="c-white">&nbsp;&nbsp;&nbsp; </span><span class="c-green">\|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |</span>
<span class="c-white">&nbsp; </span><span class="c-green">\ |&nbsp;&nbsp;&nbsp;&nbsp; \ |/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | /\ | / \|/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |/&nbsp;&nbsp;&nbsp; \|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; \|/</span>
<span class="">&nbsp;jgs</span><span class="c-green">|///&nbsp; \\|/// \\\\|//\\|///\|///&nbsp; \\\|//&nbsp; \\|//&nbsp; \\\|/</span>
<span class="c-green">&nbsp;^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^</span>
</pre>
    <figcaption>Art by late ASCII artist Joan G. Stark</figcaption>
  </figure>
  <p>you’ve wandered to the edge of the garden... the rest is still growing.</p>
  <p>leave a note in the <a href="/guestbook">guestbook</a> before you go?</p>
</footer>
<style>
  .end {
    text-align: center;
    margin: 5rem 0 3rem 0;
  }

  .end pre {
    text-align: left;
    margin: 0 auto;
    width: fit-content;
    line-height: 1;
    font-family: monospace;
    white-space: pre;
    font-size: 0.5rem;
    max-width: 100%;
    overflow: hidden;
  }

  .end figure {
    margin-bottom: 5rem;
    font-size: 0.5rem;
  }

  .end figcaption {
    font-size: 0.8rem;
    opacity: 0.8;
  }

  @media (min-width: 48rem) {
    .end pre {
      font-size: 1rem;
    }
  }

  .c-white {
    color: #ffffff;
  }
  .c-red {
    color: plum;
  }
  .c-yellow {
    color: gold;
  }
  .c-orange {
    color: white;
  }
  .c-light-yellow {
    color: orangered;
  }
  .c-light-pink {
    color: violet;
  }
  .c-magenta {
    color: deeppink;
  }
  .c-blue {
    color: deepskyblue;
  }
  .c-green {
    color: MediumSeaGreen;
  }

  @media (prefers-color-scheme: light) {
    .c-red {
      color: HotPink;
    }
    .c-yellow {
      color: LightPink;
    }
    .c-orange {
      color: GoldenRod;
    }
    .c-light-yellow {
      color: MediumVioletRed;
    }
    .c-light-pink {
      color: Plum;
    }
    .c-magenta {
      color: MediumVioletRed;
    }
    .c-blue {
      color: deepskyblue;
    }
    .c-green {
      color: Olive;
    }
  }
</style>
